@page "/sign-in"

@inject NavigationManager NavigationManager
@inject IAccountServices AccountServices

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Sign-In</PageTitle>
<h3>Sign-In</h3>

<div class="row justify-content-center">
    <div class="col-md-4">
        <EditForm Model="@SignInRequest" FormName="signIn" OnValidSubmit="HandleValidAsync">
            <DataAnnotationsValidator />
            <div class="form-group mb-3">
                <label asp-for="Email"></label>
                <InputText id="email" placeholder="Email" class="form-control" @bind-Value="SignInRequest.Email"/>
                <ValidationMessage For="() => SignInRequest.Email"/>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password"></label>
                <InputText id="password" type="password" placeholder="Password" class="form-control" @bind-Value="SignInRequest.Password"/>
                <ValidationMessage For="() => SignInRequest.Password"/>
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private SignInRequest SignInRequest { get; set; } = new();

    private async Task HandleValidAsync()
    {
        var result = await AccountServices.SignInAsync(SignInRequest);

        if (result.Success)
        {
            NavigationManager.NavigateTo("/");
        }
    }

}
