@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container mt-3">
            @Body
        </div>
    </main>
</div>
